
body{

background-repeat: no-repeat;
background-size: cover;

font-family:Monotype Corsiva;

color:#FFFFFF;
font-weight: bold; 	

}

 
.campo {

	border:solid 1px #555;
	border-radius: 20px;
	padding: 5px;
}
